:root {
    --leafgreen: #A3B18A;
    --earthybrown: #6B4226;
    --creamybeige: #F5E8C7;
    --mutedsage: #D4CFC4;
    --ambergold: #C98E5D;
    --deepcharcoal: #3A3A3A;
    --header-color: #282828;
    --emphasis-color: #3A3A3A;
    --p-color: #282828;
    --button-color: #f5f5f5;
    --hr-color: #A3B18A;
    --nav-background: #f5f5f5;
    --body-background: #f5f5f5;
    --footer-background: #f5f5f5;
  }

* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', serif;
  }

  nav {
    margin-left: auto; 
    margin-right: 0;
    padding:0;
    display: flex;
    align-items: center;
  }

  .nav-links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display:flex;
  }

  .nav-links li {
    display: inline-block;
    font-weight: bold;
  }

  .nav-links li a {
    color: var(--header-color);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    font-size: large;
  }

  .nav-links li a:hover {
    background-color: var(--hr-color);
  }

  .topnav {
    overflow: hidden;
    background-color: var(--nav-background);
    color: var(--header-color);
    padding: 14px 16px;
    margin: 0;
    border-bottom: 2px solid var(--hr-color);
    position: sticky;
    top: 0;
  }
  
  .topnav a {
    display: inline-block;
    color: var(--deepcharcoal);
    text-align: center;
    text-decoration: none;
  }

  .topnav ul {
    list-style-type: none;
  }

  p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .emphasis {
    text-align: center;
    font-style: italic;
  }

  .cover {
    display: block;
    margin: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 10 0;
  }

  hr {
    height: 0;
    border: none;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    border-top: 2px solid var(--hr-color); 
  }

  .button {
    background-color: var(--hr-color);
    border: 2px solid var(--hr-color);
    color: var(--button-color);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
  }

  .button:hover{
    background-color: var(--button-color);
    border: 2px solid var(--hr-color);
    color: var(--hr-color);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
  }

  .button:active {
    background-color: var(--hr-color);
    border: 2px solid var(--hr-color);
    color: var(--button-color);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
  }

  .hidden-button {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    border-color: var(--hr-color);
    border: none;
    transition: 0.3s;
  }

  .hidden-button:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    border: 2px solid var(--hr-color);
    transition: 0.3s;
  }

  .row {
    display: flex;
  }

  .column {
    padding: 10px;
  }
  
  .column.side {
     flex: 1;
  }
  
  .column.middle {
    flex: 10;
    display: block;
    float: none;
    text-align: center;
  }
  
  .content {
    background-color: var(--nav-background);
  }

  .footer {
    background-color: var(--nav-background);
    padding: 10px;
  }

  #suggestion-btn {
    font-weight: strong;
  }

  #suggestion{
    font-weight: strong;
  }

  #suggestion-desc{
    font-weight: lighter;
  }

  #suggestion-img{
    display: none;
    content: center;
  }