:root{
    --black-tea-color: #2e2521;
    --green-tea-color:  #C2D4A8;
    --herbal-tea-color: #D6B588;
    --logo-color: #A3B18A;
    --header-color: #282828;
}

.dot {
    height: 100px;
    width: 100px;
    margin: 10px;
    text-decoration: none;
    color: var(--header-color);
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    transition: 0.3;
  }

  .dot:hover{
    opacity: 0.7;
    cursor:pointer;
  }

  .dot img {
    width: 100%;
  }

  .dot-button{
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    border-color: var(--hr-color);
    border: none;
  }

#black-tea{
    background-color: var(--black-tea-color);
}

#green-tea{
    background-color: var(--green-tea-color);
}

#herbal-tea{
    background-color: var(--herbal-tea-color);
}